.animated-gradient-line {
    width: 300px;
    height: 6px;
    border-radius: 20px;
    background: linear-gradient(90deg,
            var(--wc-primary-color),
            var(--wc-secondary-color),
            var(--wc-terciary-color));
    animation: GradientLineAnimation 3s ease-in-out infinite;
    border: none;
}