#counter-hero {
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(270deg, var(--wc-primary-color), var(--wc-secondary-color), var(--wc-terciary-color));
    background-size: 600% 600%;

    -webkit-animation: GradientBackgroundAnimation 20s ease infinite;
    -moz-animation: GradientBackgroundAnimation 20s ease infinite;
    animation: GradientBackgroundAnimation 20s ease infinite;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    .hero-container {
        color: var(--bg-color);
        margin: 20px;
        text-align: center;
        max-width: 500px;

        h1 {
            margin-top: 0px;
        }

        p {
            margin-bottom: 25px;
        }
    }

    .trophy {
        filter: invert(100%);
    }

    .hero-cta-btn {
        text-decoration: none;
        color: var(--text-color);
        font-weight: bold;
        background-color: var(--bg-color);
        border-radius: 20px;
        padding: 10px 24px;

        &:hover {
            padding: 10px 48px;
            transition: 0.4s;
            box-shadow: 0px 2px 2px var(--shadow-color);
        }
    }
    
}