footer {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    font-weight: bold;
    padding: 1rem;
    flex-wrap: wrap;

    hr {
        width: 100%;
    }

    a {
        color: var(--text-color);
        text-decoration: none;
        cursor: pointer;
        transition: all 0.3s ease;

        &:hover {
            text-decoration: underline;
        }
    }
}

.footer-alternative {
    min-height: 10vh;
    box-shadow: -10px 0px 10px var(--shadow-color);

    hr {
        display: none;
    }
}