header {
    padding: 1rem;

    .header-title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        width: 100%;

        h1 {
            font-size: 1.5rem;
        }
    }
}