header {
    padding: 1rem;

    .header-title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;

            h1 {
                font-size: 1.5rem;
                text-align: center;
            }
        }
    }
}