#news-container {
    max-width: 1000px;
    margin: 1.5rem auto;
    padding: 1.5rem;

    .news-title {
        text-align: center;
        font-size: 1.8rem;
        margin-bottom: 1.5rem;
    }

    .news-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 1.2rem;
        justify-content: center;
    }
}