.curiosities {
    margin-top: 2rem;
    text-align: center;
    a {
        text-decoration: none;
        color: var(--text-color);
        font-size: 1.1rem;
        &:hover{
            text-decoration: underline;
            transition: 0.2s;
        }
    }

}