#backBtn {
    left: 1rem;
}

#shareBtn {
    right: 1rem;
}

#shareBtn,
#backBtn {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 1rem;
    font-size: 1.3rem;
    padding: 8px;
    color: var(--bg-color);
    background: none;
    border: 2px solid var(--bg-color);
    border-radius: 100%;
}

#backBtn:hover,
#shareBtn:hover {
    scale: 1.1;
    transition: 0.3s;
}

.share-container {
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.share-menu {
    position: absolute;
    top: 3.2rem;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    animation: fadeIn 0.3s ease;

    a {
        font-size: 1.3rem;
        color: var(--bg-color);
        transition: transform 0.2s, color 0.2s;
        border: 2px solid var(--bg-color);
        border-radius: 100%;
        padding: 8px;
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            transform: scale(1.2);
        }
    }
}