#welcome-section{
    text-align: center;
    h2{
        font-size: 2.5rem;
        margin-bottom: 0rem;
    }
    p{
        margin-top: 0.5rem;
    }
}

#news-section{
    h3{
        text-align: center;
    }
}