@use "@/styles/utils/variables.scss";
@use "@/styles/utils/animations.scss";
@use "@/styles/utils/layout.scss";
@use "@/styles/utils/responsivity.scss";
@use "@/styles/components/Header.scss";
@use "@/styles/components/Footer.scss";
@use "@/styles/components/Button.scss";
@use "@/styles/components/ShareBtn.scss";
@use "@/styles/components/Card.scss";
@use "@/styles/components/CounterHero.scss";
@use "@/styles/components/NewsSection.scss";
@use "@/styles/components/AnimatedGradientLine.scss";
@use "@/styles/components/WorldCupGuideMenu.scss";
@use "@/styles/components/RotatingCuriosity.scss";
@use "@/styles/pages/WorldCupCentral.scss";
@use "@/styles/pages/GroupsPage.scss";
@use "@/styles/pages/PrivacyPage.scss";