@import "./utils-temp/variables.scss";
@import "./utils-temp/animations.scss";
@import "./utils-temp/layout.scss";
@import "./utils-temp/responsivity.scss";
@import "./components-temp/Header.scss";
@import "./components-temp/Footer.scss";
@import "./components-temp/ShareBtn.scss";
@import "./components-temp/CounterHero.scss";
@import "./components-temp/NewsSection.scss";
@import "./pages-temp/WorldCupCentral.scss";
@import "./pages-temp/PrivacyPage.scss";