@import "./utils/variables.scss";
@import "./utils/animations.scss";
@import "./utils/layout.scss";
@import "./utils/responsivity.scss";
@import "./components/Header.scss";
@import "./components/Footer.scss";
@import "./components/ShareBtn.scss";
@import "./components/CounterHero.scss";
@import "./components/NewsSection.scss";
@import "./pages/WorldCupCentral.scss";
@import "./pages/PrivacyPage.scss";