@import url(./utils/variables.scss);
@import url(./utils/animations.scss);
@import url(./utils/layout.scss);
@import url(./utils/responsivity.scss);
@import url(./pages/PrivacyPage.scss);
@import url(./components/Footer.scss);
@import url(./components/ShareBtn.scss);
@import url(./components/CounterHero.scss);
