@import "@/styles/utils-temp/variables.scss";
@import "@/styles/utils-temp/animations.scss";
@import "@/styles/utils-temp/layout.scss";
@import "@/styles/utils-temp/responsivity.scss";
@import "@/styles/components-temp/Header.scss";
@import "@/styles/components-temp/Footer.scss";
@import "@/styles/components-temp/ShareBtn.scss";
@import "@/styles/components-temp/CounterHero.scss";
@import "@/styles/components-temp/NewsSection.scss";
@import "@/styles/pages-temp/WorldCupCentral.scss";
@import "@/styles/pages-temp/PrivacyPage.scss";