@use "@/styles/utils/variables.scss";
@use "@/styles/utils/animations.scss";
@use "@/styles/utils/layout.scss";
@use "@/styles/utils/responsivity.scss";
@use "@/styles/components/Header.scss";
@use "@/styles/components/Footer.scss";
@use "@/styles/components/ShareBtn.scss";
@use "@/styles/components/CounterHero.scss";
@use "@/styles/components/NewsSection.scss";
@use "@/styles/pages/WorldCupCentral.scss";
@use "@/styles/pages/PrivacyPage.scss";