:root{
    --font: sans-serif;
    --wc-primary-color: #3cac3b; 
    --wc-secondary-color: #2a398d;
    --wc-terciary-color: #e61d25;
    --bg-color: #D1D4D1;
    --text-color: #111211;
    --shadow-color: rgba(0,0,0, 0.4);
}

// World Cup Official Colors: https://www.schemecolor.com/united-2026-fifa-world-cup-bid-logo-colors.php