*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    color: var(--text-color);
    background: var(--bg-color);
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding: 1rem;
    max-width: 950px;
}

.gradient-text {
    background: linear-gradient(90deg,
            var(--wc-primary-color),
            var(--wc-secondary-color),
            var(--wc-terciary-color));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

article{
    min-height: 80vh;
}