@media (max-width: 768px) {

    #groups-page {
        .groups-list {
            flex-direction: column;
            justify-content: center !important;
            align-items: center !important;
        }
    }

    .news-grid {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        gap: 4px;
        text-align: center;
    }

    .hide-mobile {
        display: none !important;
    }
}