@media (max-width: 768px) {

    #counter-hero {
        min-height: 80vh;
        min-height: 75dvh;
    }

    #groups-page {
        .groups-list {
            flex-direction: column;
            justify-content: center !important;
            align-items: center !important;
        }
    }

    .news-grid {
        flex-direction: column;
        align-items: center;
    }

    footer {
        flex-direction: column;
        gap: 4px;
        text-align: center;
    }

    .hide-mobile {
        display: none !important;
    }
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}